<h2>sadasdsadsad</h2>

<router-outlet></router-outlet>

<!-- <nav class="navbar is-fixed-top is-white has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item">Bulma Template</span>
      <a href="#" class="navbar-item">Page 1</a>
      <a href="#" class="navbar-item">Page 2</a>
      <a href="#" class="navbar-item">Page 3</a>
    </div>
    <div class="navbar-end">
      <a href="#" class="navbar-item">Login</a>
      <a href="#" class="navbar-item">Sign Up</a>
    </div>
  </div>
</nav>
<div class="container" style="padding-top:75px;">
  <div class="columns">
    <div class="column is-2">

      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a class="is-active">Dashboard</a></li>
          <li><a>Personal</a></li>
          <li>
            <a>Inventory</a>
            <ul>
              <li><a>Assigned to Me</a></li>
              <li><a>Search all</a></li>
              <li><a>Reports</a></li>
            </ul>
          </li>
          <li><a>Tickets</a></li>
        </ul>

        <p class="menu-label">Administration</p>
        <ul class="menu-list">
          <li><a>Users</a></li>
          <li><a>Inventory</a></li>
          <li><a>Tickets</a></li>
        </ul>

      </aside>

    </div>
    <div class="column is-10">

      <section class="hero is-info is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Admin Dashboard
            </h1>
            <h2 class="subtitle">
              All new Templates are fun!
            </h2>
          </div>
        </div>
      </section>

      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child notification is-warning">
              <p class="title">934</p>
              <p class="subtitle">Incident Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-info is-child notification is-danger">
              <p class="title">123</p>
              <p class="subtitle">Items</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification is-dark">
              <p class="title">54</p>
              <p class="subtitle">Sold Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <p class="title">2012</p>
              <p class="subtitle">Support</p>
            </article>
          </div>
        </div>
      </section>

      <section>
        <nav class="panel is-info">
          <p class="panel-heading">
            Food Selector
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <p class="panel-tabs">
            <a class="is-active">Breakfast</a>
            <a>Lunch</a>
            <a>Drinks</a>
            <a>Bakery</a>
          </p>
          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Resturant 1
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Resturant 2
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Resturant 3
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Resturant 4
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-code-branch" aria-hidden="true"></i>
            </span>
            Resturant 5
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-code-branch" aria-hidden="true"></i>
            </span>
            Resturant 6
          </a>
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              Find me Food!
            </button>
          </div>
        </nav>
      </section>
      <section>
          <article class="message is-small">
              <div class="message-header">
                <p>Small message</p>
                <button class="delete is-small" aria-label="delete"></button>
              </div>
              <div class="message-body">
                The red fox jumps over the brown fence looking for food but can't find any so he wrote a run on sentence to fill this text area on this web template that he was working on!
              </div>
            </article>
      </section>
    </div>
  </div>
</div>
 -->